@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .accordion {
        /*margin: 10px 0px;*/
        text-align: left;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*min-width: fit-content;
        min-height: fit-content;*/
        width: 100%;
        /*height: 100%;*/
    }
    .accordion h2 {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: hsl(292, 42%, 14%);
    }
    .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: hsl(292, 16%, 49%);
        font-size: 16px;
    }
    .accordion div.expand {
      max-width: 30px;
      max-height: 30px;
      min-width: 30px;
      /*margin: 10px 0px;*/
    }
}
